<section id="projects">
	<div class="container">
		<h3>Projects</h3>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="card">
					<a href="https://github.com/sampathbalivada/2-Factor-Authentication-using-Fingerprint"
						style="text-decoration: none">
						<h5 class="container">
							<i class="fa fa-github"></i>&nbsp;&nbsp;<strong>2 Factor Authentication using On Device
								Biometrics</strong> <br>
							<p>A demo implementation of 2-Factor Authentication for a website using Biometrics on
								Android or iOS devices.</p>
						</h5>
					</a>
				</div>
				<div class="card">
					<a href="https://github.com/sampathbalivada/google-sheets-url-shortener"
						style="text-decoration: none">
						<h5 class="container">
							<i class="fa fa-github"></i>&nbsp;&nbsp;<strong>Google Sheets URL Shortener</strong> <br>
							<p>A server less custom url shortener built using Google Sheets.</p>
						</h5>
					</a>
				</div>
				<div class="card">
					<a href="https://github.com/sampathbalivada/automatic-call-end-and-notifier"
						style="text-decoration: none">
						<h5 class="container">
							<i class="fa fa-github"></i>&nbsp;&nbsp;<strong>Automatic Call Ender</strong> <br>
							<p>Ends a call and sends a pre-configured message to the caller without any user
								intervention.</p>
						</h5>
					</a>
				</div>
			</div>
		</div>
</section>